USE [BPMAINDB]
GO
ALTER TABLE [dbo].[WORKRESOURCEJOBTITLE] DROP CONSTRAINT [FK_WORKRESOURCEJOBTITLE_WORKRESOURCE]
GO
ALTER TABLE [dbo].[WORKRESOURCEJOBTITLE] DROP CONSTRAINT [FK_WORKRESOURCEJOBTITLE_JOBTITLE]
GO
ALTER TABLE [dbo].[TIMEOFFHOURSPERDAY] DROP CONSTRAINT [FK__TIMEOFFHO__emplo__2B3F6F97]
GO
ALTER TABLE [dbo].[TIMEOFFHOURSPERDAY] DROP CONSTRAINT [FK__TIMEOFFHO__activ__2A4B4B5E]
GO
ALTER TABLE [dbo].[SHIFTASSIGNMENT] DROP CONSTRAINT [FK__SHIFTASSI__workr__34C8D9D1]
GO
ALTER TABLE [dbo].[SHIFTASSIGNMENT] DROP CONSTRAINT [FK__SHIFTASSI__activ__33D4B598]
GO
ALTER TABLE [dbo].[SHIFT] DROP CONSTRAINT [FK__SHIFT__organizat__30F848ED]
GO
ALTER TABLE [dbo].[SHIFT] DROP CONSTRAINT [FK__SHIFT__activityi__300424B4]
GO
ALTER TABLE [dbo].[ORGANIZATIONDAY] DROP CONSTRAINT [FK_ORGANIZATIONDAY_ORGANIZATION]
GO
ALTER TABLE [dbo].[ACTUALEVENTTIMELINE] DROP CONSTRAINT [FK_ACTUALEVENTTIMELINE_ACTIVITY]
GO
ALTER TABLE [dbo].[ACTIVITY] DROP CONSTRAINT [FK_ACTIVITY_ORGANIZATION]
GO
/****** Object:  Index [XIE3ORGANIZATIONDAY]    Script Date: 8/7/2013 9:03:05 AM ******/
DROP INDEX [XIE3ORGANIZATIONDAY] ON [dbo].[ORGANIZATIONDAY]
GO
/****** Object:  Index [XIE2ORGANIZATIONDAY]    Script Date: 8/7/2013 9:03:05 AM ******/
DROP INDEX [XIE2ORGANIZATIONDAY] ON [dbo].[ORGANIZATIONDAY]
GO
/****** Object:  Index [XAK1ORGANIZATION]    Script Date: 8/7/2013 9:03:05 AM ******/
DROP INDEX [XAK1ORGANIZATION] ON [dbo].[ORGANIZATION]
GO
/****** Object:  Index [XIE5ACTUALEVENTTIMELINE]    Script Date: 8/7/2013 9:03:05 AM ******/
DROP INDEX [XIE5ACTUALEVENTTIMELINE] ON [dbo].[ACTUALEVENTTIMELINE]
GO
/****** Object:  Index [XIE4ACTUALEVENTTIMELINE]    Script Date: 8/7/2013 9:03:05 AM ******/
DROP INDEX [XIE4ACTUALEVENTTIMELINE] ON [dbo].[ACTUALEVENTTIMELINE]
GO
/****** Object:  Index [XIE3ACTUALEVENTTIMELINE]    Script Date: 8/7/2013 9:03:05 AM ******/
DROP INDEX [XIE3ACTUALEVENTTIMELINE] ON [dbo].[ACTUALEVENTTIMELINE]
GO
/****** Object:  Index [XIE2ACTUALEVENTTIMELINE]    Script Date: 8/7/2013 9:03:05 AM ******/
DROP INDEX [XIE2ACTUALEVENTTIMELINE] ON [dbo].[ACTUALEVENTTIMELINE]
GO
/****** Object:  Table [dbo].[WORKRESOURCEORGANIZATION]    Script Date: 8/7/2013 9:03:05 AM ******/
DROP TABLE [dbo].[WORKRESOURCEORGANIZATION]
GO
/****** Object:  Table [dbo].[WORKRESOURCEJOBTITLE]    Script Date: 8/7/2013 9:03:05 AM ******/
DROP TABLE [dbo].[WORKRESOURCEJOBTITLE]
GO
/****** Object:  Table [dbo].[WORKRESOURCE]    Script Date: 8/7/2013 9:03:05 AM ******/
DROP TABLE [dbo].[WORKRESOURCE]
GO
/****** Object:  Table [dbo].[TIMEZONEAM]    Script Date: 8/7/2013 9:03:05 AM ******/
DROP TABLE [dbo].[TIMEZONEAM]
GO
/****** Object:  Table [dbo].[TIMEOFFHOURSPERDAY]    Script Date: 8/7/2013 9:03:05 AM ******/
DROP TABLE [dbo].[TIMEOFFHOURSPERDAY]
GO
/****** Object:  Table [dbo].[SUPERVISOR]    Script Date: 8/7/2013 9:03:05 AM ******/
DROP TABLE [dbo].[SUPERVISOR]
GO
/****** Object:  Table [dbo].[SHIFTASSIGNMENT]    Script Date: 8/7/2013 9:03:05 AM ******/
DROP TABLE [dbo].[SHIFTASSIGNMENT]
GO
/****** Object:  Table [dbo].[SHIFT]    Script Date: 8/7/2013 9:03:05 AM ******/
DROP TABLE [dbo].[SHIFT]
GO
/****** Object:  Table [dbo].[PERSON]    Script Date: 8/7/2013 9:03:05 AM ******/
DROP TABLE [dbo].[PERSON]
GO
/****** Object:  Table [dbo].[ORGANIZATIONDAY]    Script Date: 8/7/2013 9:03:05 AM ******/
DROP TABLE [dbo].[ORGANIZATIONDAY]
GO
/****** Object:  Table [dbo].[ORGANIZATION]    Script Date: 8/7/2013 9:03:05 AM ******/
DROP TABLE [dbo].[ORGANIZATION]
GO
/****** Object:  Table [dbo].[JOBTITLE]    Script Date: 8/7/2013 9:03:05 AM ******/
DROP TABLE [dbo].[JOBTITLE]
GO
/****** Object:  Table [dbo].[EMPLOYEEFILTERWORKRESOURCE]    Script Date: 8/7/2013 9:03:05 AM ******/
DROP TABLE [dbo].[EMPLOYEEFILTERWORKRESOURCE]
GO
/****** Object:  Table [dbo].[EMPLOYEEDATASOURCE]    Script Date: 8/7/2013 9:03:05 AM ******/
DROP TABLE [dbo].[EMPLOYEEDATASOURCE]
GO
/****** Object:  Table [dbo].[EMPLOYEEAM]    Script Date: 8/7/2013 9:03:05 AM ******/
DROP TABLE [dbo].[EMPLOYEEAM]
GO
/****** Object:  Table [dbo].[ACTUALEVENTTIMELINE]    Script Date: 8/7/2013 9:03:05 AM ******/
DROP TABLE [dbo].[ACTUALEVENTTIMELINE]
GO
/****** Object:  Table [dbo].[ACTIVITYCATEGORY]    Script Date: 8/7/2013 9:03:05 AM ******/
DROP TABLE [dbo].[ACTIVITYCATEGORY]
GO
/****** Object:  Table [dbo].[ACTIVITY]    Script Date: 8/7/2013 9:03:05 AM ******/
DROP TABLE [dbo].[ACTIVITY]
GO
/****** Object:  User [prjoect_user]    Script Date: 8/7/2013 9:03:05 AM ******/
DROP USER [prjoect_user]
GO
USE [master]
GO
/****** Object:  Database [BPMAINDB]    Script Date: 8/7/2013 9:03:05 AM ******/
DROP DATABASE [BPMAINDB]
GO
/****** Object:  Database [BPMAINDB]    Script Date: 8/7/2013 9:03:05 AM ******/
CREATE DATABASE [BPMAINDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BPMAINDB', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\BPMAINDB.mdf' , SIZE = 542720KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BPMAINDB_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\BPMAINDB_log.ldf' , SIZE = 625792KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BPMAINDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BPMAINDB]
GO
/****** Object:  User [prjoect_user]    Script Date: 8/7/2013 9:03:05 AM ******/
CREATE USER [prjoect_user] FOR LOGIN [project_user] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [prjoect_user]
GO
/****** Object:  Table [dbo].[ACTIVITY]    Script Date: 8/7/2013 9:03:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ACTIVITY](
	[ID] [int] NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[ORGANIZATIONID] [int] NOT NULL,
	[ACTIVITYCATEGORYID] [int] NOT NULL,
	[DESCRIPTION] [varchar](200) NULL,
	[ISPAID] [bit] NOT NULL,
	[ISDELETED] [bit] NOT NULL,
	[ADHERENCETOLERANCE] [smallint] NULL,
	[ISUSEDINSHIFT] [bit] NOT NULL,
	[COLOR] [varchar](6) NULL,
	[ISUSEDINSHIFTEVENT] [bit] NOT NULL,
	[ISUSEDINCALENDAREVENT] [bit] NOT NULL,
	[ISUNAVAILABILITY] [bit] NOT NULL,
	[ISREQUESTABLE] [bit] NOT NULL,
	[ISOUT] [bit] NOT NULL,
	[ISTIMEOFF] [bit] NOT NULL,
	[ISTIMEOFFWITHALLOTMENT] [bit] NOT NULL,
	[ISVISIBLETOTCMAPPING] [bit] NOT NULL,
	[COLORCODE] [varchar](4) NULL,
	[EARNINGTYPEID] [int] NOT NULL,
	[MAXDURATIONTHRESHOLD] [int] NOT NULL,
	[MODIFIEDBY] [varchar](50) NULL,
	[LASTMODIFIEDAT] [datetime] NULL,
	[SOURCEMEASUREID] [int] NULL,
	[ISQUEUEHOPPING] [bit] NOT NULL,
	[RESOURCECONSTRAINT] [int] NOT NULL,
	[DISPLAYNAME] [varchar](50) NULL,
	[ACCRUALSCHEDULE] [int] NOT NULL,
	[ACCRUALPOLICY] [int] NOT NULL,
	[TOYEARTYPE] [int] NOT NULL,
	[TOYEARDATE] [varchar](25) NULL,
 CONSTRAINT [PK_ACTIVITY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ACTIVITYCATEGORY]    Script Date: 8/7/2013 9:03:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ACTIVITYCATEGORY](
	[ID] [int] NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[DESCRIPTION] [varchar](200) NULL,
	[ORGANIZATIONID] [int] NOT NULL,
	[ISDELETED] [bit] NOT NULL,
	[ISVISIBLETOTIMECOLLECTION] [bit] NOT NULL,
	[ISTIMEOFFWITHALLOTMENT] [bit] NOT NULL,
	[ACCRUALSCHEDULE] [int] NOT NULL,
	[ACCRUALPOLICY] [int] NOT NULL,
	[TOYEARTYPE] [int] NOT NULL,
	[TOYEARDATE] [varchar](25) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ACTUALEVENTTIMELINE]    Script Date: 8/7/2013 9:03:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACTUALEVENTTIMELINE](
	[ACTIVITYID] [int] NOT NULL,
	[TIMEENTRYEVENTID] [int] NULL,
	[EMPLOYEEID] [int] NOT NULL,
	[STARTTIME] [datetime] NOT NULL,
	[ENDTIME] [datetime] NOT NULL,
	[ISPAID] [bit] NOT NULL,
	[TIMERECORDSTARTTIME] [datetime] NULL,
	[TIMERECORDENDTIME] [datetime] NULL,
	[ADHERENCEEXCEPTIONID] [int] NULL,
	[ORGANIZATIONDAYID] [int] NULL,
	[SPDAYID] [int] NULL,
 CONSTRAINT [PK_ACTUALEVENTTIMELINE] PRIMARY KEY CLUSTERED 
(
	[EMPLOYEEID] ASC,
	[STARTTIME] ASC,
	[ENDTIME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EMPLOYEEAM]    Script Date: 8/7/2013 9:03:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLOYEEAM](
	[ID] [int] NOT NULL,
	[PERSONID] [int] NOT NULL,
	[EMPLOYEETYPEID] [int] NULL,
	[ASSIGNEDPOINTS] [int] NOT NULL,
	[BADGE] [varchar](20) NULL,
	[EMPLOYEENUMBER] [varchar](20) NULL,
	[STARTTIME] [datetime] NOT NULL,
	[ENDTIME] [datetime] NULL,
	[CHANGECOUNTER] [int] NOT NULL,
	[MODIFIEDBY] [varchar](50) NULL,
	[ISSUPERVISOR] [bit] NOT NULL,
	[ISTEAMLEAD] [bit] NOT NULL,
	[PREFERREDSTART] [smallint] NOT NULL,
 CONSTRAINT [PK_EMPLOYEEAM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EMPLOYEEDATASOURCE]    Script Date: 8/7/2013 9:03:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLOYEEDATASOURCE](
	[ID] [int] NOT NULL,
	[DATASOURCEID] [int] NOT NULL,
	[EMPLOYEEID] [int] NULL,
	[EXTERNALEMPIDENT] [varchar](128) NULL,
	[EXTERNALEMPIDENTTYPE] [int] NULL,
	[EXTENSIONDATAPORTID] [int] NULL,
 CONSTRAINT [PK_EMPLOYEEDATASOURCE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EMPLOYEEFILTERWORKRESOURCE]    Script Date: 8/7/2013 9:03:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEEFILTERWORKRESOURCE](
	[ID] [int] NOT NULL,
	[WORKRESOURCEID] [int] NOT NULL,
	[EMPLOYEEFILTERID] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[JOBTITLE]    Script Date: 8/7/2013 9:03:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[JOBTITLE](
	[ID] [int] NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[DESCRIPTION] [varchar](200) NULL,
	[ORGANIZATIONID] [int] NOT NULL,
	[CHANGECOUNTER] [int] NOT NULL,
	[ISDELETED] [bit] NOT NULL,
	[MODIFIEDBY] [varchar](50) NULL,
 CONSTRAINT [PK_JOBTITLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ORGANIZATION]    Script Date: 8/7/2013 9:03:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ORGANIZATION](
	[ID] [int] NOT NULL,
	[NAME] [varchar](250) NOT NULL,
	[DESCRIPTION] [varchar](200) NULL,
	[TIMEZONE] [varchar](30) NOT NULL,
	[DAYBOUNDARYOFFSET] [int] NOT NULL,
	[WEEKSTARTDAY] [smallint] NOT NULL,
	[NUMSEATS] [int] NOT NULL,
	[CHANGECOUNTER] [int] NOT NULL,
	[MODIFIEDBY] [varchar](50) NULL,
	[PARENTID] [int] NOT NULL,
	[IS24HOUR] [bit] NOT NULL,
	[CANCROSSDAYBOUNDARY] [bit] NOT NULL,
	[MINTIMEBETWEENSHIFT] [smallint] NULL,
	[MAXCONSECUTIVEWORKINGDAY] [smallint] NULL,
 CONSTRAINT [PK_ORGANIZATION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ORGANIZATIONDAY]    Script Date: 8/7/2013 9:03:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORGANIZATIONDAY](
	[ID] [int] NOT NULL,
	[ORGANIZATIONID] [int] NULL,
	[SPID] [int] NULL,
	[STARTTIME] [datetime] NOT NULL,
	[ENDTIME] [datetime] NOT NULL,
	[LOCALDAY] [datetime] NOT NULL,
	[LOCALWEEK] [datetime] NOT NULL,
 CONSTRAINT [PK_ORGANIZATIONDAY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PERSON]    Script Date: 8/7/2013 9:03:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PERSON](
	[ID] [int] NOT NULL,
	[FIRSTNAME] [varchar](50) NOT NULL,
	[LASTNAME] [varchar](50) NOT NULL,
	[PFIRSTNAME] [varchar](50) NULL,
	[PLASTNAME] [varchar](50) NULL,
	[MIDDLEINITIAL] [char](1) NULL,
	[SUFFIX] [varchar](5) NULL,
	[SSN] [varchar](25) NULL,
	[BIRTHDATE] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SHIFT]    Script Date: 8/7/2013 9:03:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SHIFT](
	[ID] [char](15) NOT NULL,
	[organizationid] [int] NULL,
	[campaignid] [char](15) NULL,
	[activityid] [int] NULL,
	[sid] [int] NULL,
	[name] [varchar](250) NULL,
	[description] [varchar](250) NULL,
	[shiftlength] [smallint] NULL,
	[minspacing] [int] NULL,
	[maxspacing] [int] NULL,
	[deleteondate] [datetime] NULL,
	[created] [datetime] NULL,
	[createdby] [varchar](255) NULL,
	[modified] [datetime] NULL,
	[modifiedby] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SHIFTASSIGNMENT]    Script Date: 8/7/2013 9:03:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SHIFTASSIGNMENT](
	[id] [int] NOT NULL,
	[spid] [int] NULL,
	[workresourceid] [int] NULL,
	[activityid] [int] NULL,
	[shiftid] [int] NULL,
	[shiftpatternid] [int] NULL,
	[shiftotextbeforeid] [int] NULL,
	[shiftotextafterid] [int] NULL,
	[otextbeforeactivityid] [int] NULL,
	[otextafteractivityid] [int] NULL,
	[starttime] [datetime] NULL,
	[duration] [int] NULL,
	[precedence] [smallint] NULL,
	[islocked] [bit] NULL,
	[description] [varchar](250) NULL,
	[modifiedby] [varchar](50) NULL,
	[changecounter] [int] NULL,
	[extensionbefore] [int] NULL,
	[extensionafter] [int] NULL,
	[endtime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SUPERVISOR]    Script Date: 8/7/2013 9:03:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUPERVISOR](
	[ID] [int] NOT NULL,
	[SUPERVISOREMPLOYEEID] [int] NOT NULL,
	[EMPLOYEEID] [int] NOT NULL,
	[STARTTIME] [datetime] NOT NULL,
	[ENDTIME] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TIMEOFFHOURSPERDAY]    Script Date: 8/7/2013 9:03:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIMEOFFHOURSPERDAY](
	[ID] [int] NOT NULL,
	[employeeid] [int] NULL,
	[activityid] [int] NULL,
	[timeoffeventid] [int] NULL,
	[timeoffchoiceid] [int] NULL,
	[timeoffchoicerank] [int] NULL,
	[timeoffrule] [int] NULL,
	[totalminutes] [int] NULL,
	[starttime] [datetime] NULL,
	[endtime] [datetime] NULL,
	[isdirty] [bit] NULL,
	[dirtytime] [datetime] NULL,
	[status] [int] NULL,
	[hoursperday] [varchar](8000) NULL,
	[origminutes] [int] NULL,
	[expirydate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIMEZONEAM]    Script Date: 8/7/2013 9:03:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIMEZONEAM](
	[ID] [int] NOT NULL,
	[TIMEZONE] [varchar](128) NOT NULL,
	[STARTTIME] [datetime] NULL,
	[ENDTIME] [datetime] NULL,
	[BIAS] [int] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WORKRESOURCE]    Script Date: 8/7/2013 9:03:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WORKRESOURCE](
	[ID] [int] NOT NULL,
	[WORKRESTYPE] [varchar](20) NOT NULL,
 CONSTRAINT [PK_WORKRESOURCE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WORKRESOURCEJOBTITLE]    Script Date: 8/7/2013 9:03:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORKRESOURCEJOBTITLE](
	[ID] [int] NOT NULL,
	[WORKRESOURCEID] [int] NOT NULL,
	[JOBTITLEID] [int] NOT NULL,
	[STARTTIME] [datetime] NOT NULL,
	[ENDTIME] [datetime] NULL,
 CONSTRAINT [PK_WORKRESOURCEJOBTITLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WORKRESOURCEORGANIZATION]    Script Date: 8/7/2013 9:03:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORKRESOURCEORGANIZATION](
	[ID] [int] NOT NULL,
	[ORGANIZATIONID] [int] NOT NULL,
	[WORKRESOURCEID] [int] NOT NULL,
	[STARTTIME] [datetime] NOT NULL,
	[ENDTIME] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Index [XIE2ACTUALEVENTTIMELINE]    Script Date: 8/7/2013 9:03:05 AM ******/
CREATE NONCLUSTERED INDEX [XIE2ACTUALEVENTTIMELINE] ON [dbo].[ACTUALEVENTTIMELINE]
(
	[ACTIVITYID] ASC,
	[EMPLOYEEID] ASC,
	[STARTTIME] ASC,
	[ENDTIME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [XIE3ACTUALEVENTTIMELINE]    Script Date: 8/7/2013 9:03:05 AM ******/
CREATE NONCLUSTERED INDEX [XIE3ACTUALEVENTTIMELINE] ON [dbo].[ACTUALEVENTTIMELINE]
(
	[ADHERENCEEXCEPTIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [XIE4ACTUALEVENTTIMELINE]    Script Date: 8/7/2013 9:03:05 AM ******/
CREATE NONCLUSTERED INDEX [XIE4ACTUALEVENTTIMELINE] ON [dbo].[ACTUALEVENTTIMELINE]
(
	[SPDAYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [XIE5ACTUALEVENTTIMELINE]    Script Date: 8/7/2013 9:03:05 AM ******/
CREATE NONCLUSTERED INDEX [XIE5ACTUALEVENTTIMELINE] ON [dbo].[ACTUALEVENTTIMELINE]
(
	[ORGANIZATIONDAYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [XAK1ORGANIZATION]    Script Date: 8/7/2013 9:03:05 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [XAK1ORGANIZATION] ON [dbo].[ORGANIZATION]
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [XIE2ORGANIZATIONDAY]    Script Date: 8/7/2013 9:03:05 AM ******/
CREATE NONCLUSTERED INDEX [XIE2ORGANIZATIONDAY] ON [dbo].[ORGANIZATIONDAY]
(
	[ORGANIZATIONID] ASC,
	[STARTTIME] ASC,
	[ENDTIME] ASC,
	[LOCALDAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [XIE3ORGANIZATIONDAY]    Script Date: 8/7/2013 9:03:05 AM ******/
CREATE NONCLUSTERED INDEX [XIE3ORGANIZATIONDAY] ON [dbo].[ORGANIZATIONDAY]
(
	[ORGANIZATIONID] ASC,
	[STARTTIME] ASC,
	[ENDTIME] ASC,
	[LOCALWEEK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ACTIVITY]  WITH CHECK ADD  CONSTRAINT [FK_ACTIVITY_ORGANIZATION] FOREIGN KEY([ORGANIZATIONID])
REFERENCES [dbo].[ORGANIZATION] ([ID])
GO
ALTER TABLE [dbo].[ACTIVITY] CHECK CONSTRAINT [FK_ACTIVITY_ORGANIZATION]
GO
ALTER TABLE [dbo].[ACTUALEVENTTIMELINE]  WITH CHECK ADD  CONSTRAINT [FK_ACTUALEVENTTIMELINE_ACTIVITY] FOREIGN KEY([ACTIVITYID])
REFERENCES [dbo].[ACTIVITY] ([ID])
GO
ALTER TABLE [dbo].[ACTUALEVENTTIMELINE] CHECK CONSTRAINT [FK_ACTUALEVENTTIMELINE_ACTIVITY]
GO
ALTER TABLE [dbo].[ORGANIZATIONDAY]  WITH CHECK ADD  CONSTRAINT [FK_ORGANIZATIONDAY_ORGANIZATION] FOREIGN KEY([ORGANIZATIONID])
REFERENCES [dbo].[ORGANIZATION] ([ID])
GO
ALTER TABLE [dbo].[ORGANIZATIONDAY] CHECK CONSTRAINT [FK_ORGANIZATIONDAY_ORGANIZATION]
GO
ALTER TABLE [dbo].[SHIFT]  WITH CHECK ADD FOREIGN KEY([activityid])
REFERENCES [dbo].[ACTIVITY] ([ID])
GO
ALTER TABLE [dbo].[SHIFT]  WITH CHECK ADD FOREIGN KEY([organizationid])
REFERENCES [dbo].[ORGANIZATION] ([ID])
GO
ALTER TABLE [dbo].[SHIFTASSIGNMENT]  WITH CHECK ADD FOREIGN KEY([activityid])
REFERENCES [dbo].[ACTIVITY] ([ID])
GO
ALTER TABLE [dbo].[SHIFTASSIGNMENT]  WITH CHECK ADD FOREIGN KEY([workresourceid])
REFERENCES [dbo].[WORKRESOURCE] ([ID])
GO
ALTER TABLE [dbo].[TIMEOFFHOURSPERDAY]  WITH CHECK ADD FOREIGN KEY([activityid])
REFERENCES [dbo].[ACTIVITY] ([ID])
GO
ALTER TABLE [dbo].[TIMEOFFHOURSPERDAY]  WITH CHECK ADD FOREIGN KEY([employeeid])
REFERENCES [dbo].[EMPLOYEEAM] ([ID])
GO
ALTER TABLE [dbo].[WORKRESOURCEJOBTITLE]  WITH CHECK ADD  CONSTRAINT [FK_WORKRESOURCEJOBTITLE_JOBTITLE] FOREIGN KEY([JOBTITLEID])
REFERENCES [dbo].[JOBTITLE] ([ID])
GO
ALTER TABLE [dbo].[WORKRESOURCEJOBTITLE] CHECK CONSTRAINT [FK_WORKRESOURCEJOBTITLE_JOBTITLE]
GO
ALTER TABLE [dbo].[WORKRESOURCEJOBTITLE]  WITH CHECK ADD  CONSTRAINT [FK_WORKRESOURCEJOBTITLE_WORKRESOURCE] FOREIGN KEY([WORKRESOURCEID])
REFERENCES [dbo].[WORKRESOURCE] ([ID])
GO
ALTER TABLE [dbo].[WORKRESOURCEJOBTITLE] CHECK CONSTRAINT [FK_WORKRESOURCEJOBTITLE_WORKRESOURCE]
GO
USE [master]
GO
