-- DecisionPoint - NICE WFM
-- Enterprise Group AMP mapping

use nice_wfm_integration
go

-- Collate clause necessary to match collation of NICE WFM tables to simplify joins.
create table ENTERPRISE_GROUP_AMP
  (ENTERPRISE_GROUP_NAME nvarchar(64) collate SQL_Latin1_General_CP850_BIN not null primary key,
   AMP_PROJECT_NAME varchar(50),
   AMP_PROGRAM_NAME varchar(50),
   AMP_GEOGRAPHY_NAME varchar(250),
   NICE_WFM_START_DATE date,
   NICE_WFM_END_DATE date);

insert into ENTERPRISE_GROUP_AMP (ENTERPRISE_GROUP_NAME,AMP_PROJECT_NAME,AMP_PROGRAM_NAME,AMP_GEOGRAPHY_NAME,NICE_WFM_START_DATE,NICE_WFM_END_DATE) 
values ('CA-Folsom Shared Services',null,null,'California','2016-04-07',null);
insert into ENTERPRISE_GROUP_AMP (ENTERPRISE_GROUP_NAME,AMP_PROJECT_NAME,AMP_PROGRAM_NAME,AMP_GEOGRAPHY_NAME,NICE_WFM_START_DATE,NICE_WFM_END_DATE) 
values ('CA-Health Care Options','CA HCO','Medi-Cal','California','2016-04-07',null);
insert into ENTERPRISE_GROUP_AMP (ENTERPRISE_GROUP_NAME,AMP_PROJECT_NAME,AMP_PROGRAM_NAME,AMP_GEOGRAPHY_NAME,NICE_WFM_START_DATE,NICE_WFM_END_DATE) 
values ('CO-Healthcare','CO EB','Health Colorado','Colorado','2018-05-29',null);

commit;
