<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       default-lazy-init="true">

    <!-- Activates scanning of @Autowired -->
    <context:annotation-config/>

    <!-- Activates scanning of @Repository and @Service -->
    <context:component-scan base-package="com.maximus.amp"/>

    <!-- Add new DAOs here -->

	<bean id="contextSource" class="org.springframework.security.ldap.DefaultSpringSecurityContextSource">
	  <constructor-arg value="${ldap.server.url}"/>
	  <property name="authenticationSource" ref="authenticationSource" />

<!-- 	  <property name="referral" value="follow" /> -->
	  <property name="pooled" value="false" />
		<property name="authenticationStrategy">
			<bean class="org.springframework.ldap.core.support.SimpleDirContextAuthenticationStrategy" />
		</property>
		<property name="baseEnvironmentProperties">
		  <map>
		    <entry key="com.sun.jndi.ldap.connect.timeout" value="10000" />
		    <entry key="com.sun.jndi.ldap.read.timeout" value="10000" />
		  </map>
		</property>
	</bean>
	
<!-- 	<bean id="ldapProps" class="com.maximus.amp.util.Props"> -->
<!-- 		<property name="dn" value="${ldap.manager.dn}" /> -->
<!-- 		<property name="pwd" value="${ldap.manager.password}" /> -->
<!-- 	</bean> -->
	
	<bean id="authenticationSource" class="org.springframework.ldap.authentication.DefaultValuesAuthenticationSourceDecorator">
	   <property name="target" ref="springSecurityAuthenticationSource" />
	   <property name="defaultUser" value="${ldap.manager.dn}" />
	   <property name="defaultPassword" value="${ldap.manager.password}" />
	</bean>
	
	<bean id="springSecurityAuthenticationSource"
	    class="org.springframework.security.ldap.authentication.SpringSecurityAuthenticationSource" />
	
    <!-- Add new Managers here -->
    <bean id="ldapAuthProvider" class="org.springframework.security.ldap.authentication.LdapAuthenticationProvider">
	    <constructor-arg ref="ldapBindAuthenticator"/>
	    <constructor-arg ref="ldapAuthoritiesPopulator"/>
	    <!-- property name="userDetailsContextMapper" ref="ldapUserDetailsContextMapper"/ -->
	</bean>
	 
	<bean id="ldapBindAuthenticator" class="org.springframework.security.ldap.authentication.BindAuthenticator">
<!-- 	    <constructor-arg ref="ldapServer"/> -->
	    <constructor-arg ref="contextSource"/>
	    <property name="userSearch" ref="ldapSearchBean"/>
	</bean>
	 
	<bean id="ldapSearchBean" class="org.springframework.security.ldap.search.FilterBasedLdapUserSearch">
	    <constructor-arg value="${ldap.user.search.baseurl}"/><!-- user-search-base -->
	    <constructor-arg value="${ldap.user.search.filter}"/> <!-- user-search-filter -->
<!-- 	    <constructor-arg ref="ldapServer"/> -->
		<constructor-arg ref="contextSource"/>
		<property name="searchSubtree" value="true" />
		<property name="searchTimeLimit" value="0" />
	</bean>
	 
<!-- 	<bean id="cppAuthoritiesUserDetailsServiceImpl" class="com.maximus.amp.webapp.util.CppAuthoritiesUserDetailsServiceImpl"> -->
<!--         <constructor-arg ref="userDao"/> -->
<!-- 	</bean> -->
	 
	<bean id="ldapAuthoritiesPopulator"
	    class="org.springframework.security.ldap.authentication.UserDetailsServiceLdapAuthoritiesPopulator">
	    <constructor-arg ref="userDao"/>
	</bean>
    
    
    <!-- Configure and Alternative PasswordTokenManager -->
	<!-- <bean id="passwordTokenManager" class="com.maximus.amp.service.impl.PersistentPasswordTokenManagerImpl" autowire="default" /> -->
</beans>
