<!-- The following doctype doesn't work when offline, so default to old one, which does work.
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">-->
<!DOCTYPE hibernate-configuration PUBLIC  "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <!-- moved mapping config to package scanning in session factory bean definition -->
    <session-factory>
<!-- 		<mapping class="com.maximus.amp.model.User"/> -->
<!-- 		<mapping class="com.maximus.amp.model.Role"/> -->
<!-- 		<mapping class="com.maximus.amp.model.MetricDefinition"/> -->
<!-- 		<mapping class="com.maximus.amp.model.MetricType"/> -->
<!--        <mapping class="com.maximus.amp.model.Project"/> -->
<!--        <mapping class="com.maximus.amp.model.Program"/> -->
<!--        <mapping class="com.maximus.amp.model.ReportingPeriod"/> -->
<!--        <mapping class="com.maximus.amp.model.MetricProject"/> -->
<!--        <mapping class="com.maximus.amp.model.GeographyMaster"/> -->
    </session-factory>
</hibernate-configuration>
