<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%p %d %c{2}.%M(%L) | %m%n"/>
        </Console>

		<RollingRandomAccessFile name="RollingRandomAccessFile" fileName="${log4j.log.dir}/${log4j.log.filename}" immediateFlush="false"
                 filePattern="${log4j.log.dir}/$${date:yyyy-MM}/${log4j.log.filename}-%d{MM-dd-yyyy}-%i.gz">
	      <PatternLayout>
	        <Pattern>%p %d %c{2}.%M(%L) | %m%n</Pattern>
	      </PatternLayout>
	      <Policies>
	        <TimeBasedTriggeringPolicy />
	        <SizeBasedTriggeringPolicy size="25 MB"/>
	      </Policies>
	    </RollingRandomAccessFile>

    </Appenders>
    
    <Loggers>
        <Logger name="net.sf.ehcache" level="error"/>
        <!-- Suppress success logging from InteractiveAuthenticationSuccessEvent -->
        
        <!-- Uncomment if you want to see security/ldap debugging -->
        <Logger name="org.springframework.security" level="trace"/>
		<Logger name="org.springframework.security.web" level="error" />
		<Logger name="org.springframework.security.access" level="error" />
		<Logger name="org.springframework.security.web.authentication" level="trace" />
		<Logger name="org.springframework.security.web.authentication.AnonymousAuthenticationFilter" level="error" />
		<Logger name="org.springframework.security.web.authentication.rememberme" level="error" />
        <logger name="org.springframework.ldap" level="trace"/>
        <logger name="com.sun.jndi.ldap" level="trace" />
        <!-- Uncomment if you want to see security/ldap debugging -->
        
        <Logger name="org.apache" level="error"/>
        <Logger name="org.apache.velocity" level="fatal"/>
        <!-- Suppress invalid warning messages from JSF -->
        <Logger name="org.apache.myfaces" level="error"/>
        <!-- Suppress warnings from Struts -->
        <Logger name="org.apache.struts2.util.TextProviderHelper" level="error"/>
        <Logger name="com.opensymphony.xwork2.util.OgnlUtil" level="error"/>
        <Logger name="com.opensymphony.xwork2.ognl.OgnlValueStack" level="error"/>
        
        <Logger name="org.displaytag" level="error" />
        <Logger name="ro.isdc.wro" level="warn"/>
        <Logger name="net.sf.navigator" level="warn" />
        
        <Logger name="org.dbunit" level="warn"/>
        <Logger name="org.hibernate" level="warn"/>
        
        <!-- Uncomment if you want to see Hibernate's SQL -->
<!--         <Logger name="org.hibernate.SQL" level="debug"/> -->
<!--         <Logger name="org.hibernate.type" level="trace"/> -->
<!--         <Logger name="org.hibernate.type.descriptor.sql.BasicExtractor" level="warn" /> -->
        <!-- Uncomment if you want to see Hibernate's SQL -->
        
        <Logger name="org.springframework" level="warn"/>
        <Logger name="org.springframework.web.servlet" level="warn" />
        <Logger name="com.maximus.amp" level="debug"/>

		<AsyncRoot level="error" includeLocation="true">
		    <AppenderRef ref="Console" />
		    <AppenderRef ref="RollingRandomAccessFile" />
		</AsyncRoot>
    </Loggers>
</Configuration>

