<?xml version="1.0" encoding="UTF-8"?>
<!-- No need to set system property "Log4jContextSelector" to any value when using <asyncLogger> or <asyncRoot>. -->
 
<Configuration status="WARN">
	<Appenders>
	  <!-- Async Loggers will auto-flush in batches, so switch off immediateFlush. -->
		<RollingRandomAccessFile name="RollingRandomAccessFile" fileName="logs/amp-test.log" immediateFlush="false"
                 filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
	      <PatternLayout>
	        <Pattern>%p %d %c.%M(%L) | %m%n</Pattern>
	      </PatternLayout>
	      <Policies>
	        <TimeBasedTriggeringPolicy />
	        <SizeBasedTriggeringPolicy size="250 MB"/>
	      </Policies>
	    </RollingRandomAccessFile>

	  <Console name="Console" target="SYSTEM_OUT">
	      <PatternLayout pattern="%p [%t] %c{1}.%M(%L) | %m%n"/>
	  </Console>
	</Appenders>
	<Loggers>
		<Logger name="net.sf.ehcache" level="error"/>
		<!-- Suppress success logging from InteractiveAuthenticationSuccessEvent -->

<!-- 		<Logger name="org.springframework.security" level="debug"/> -->
<!-- 		<Logger name="org.springframework.security.web" level="error" /> -->
<!-- 		<Logger name="org.springframework.security.web.util.matcher" level="error" /> -->
<!-- 		<Logger name="org.springframework.security.web.authentication" level="trace" /> -->
<!-- 		<logger name="org.springframework.ldap" level="trace"/> -->
<!--         <logger name="com.sun.jndi" level="trace" /> -->
		
		<Logger name="org.apache" level="warn"/>
		<Logger name="org.apache.velocity" level="fatal"/>
		<Logger name="org.hibernate" level="warn"/>
		
        <!-- Uncomment if you want to see Hibernate's SQL -->
<!--         <Logger name="org.hibernate.SQL" level="debug"/> -->
<!--         <Logger name="org.hibernate.type" level="trace"/> -->
<!--         <Logger name="org.hibernate.type.descriptor.sql.BasicExtractor" level="warn" /> -->
        <!-- Uncomment if you want to see Hibernate's SQL -->

		<Logger name="org.springframework" level="warn"/>
		<Logger name="com.maximus.amp" level="debug"/>

		<Logger name="org.subethamail" level="warn"/>
		<Logger name="org.jasypt" level="warn"/>

		<Root level="debug" includeLocation="true">
		    <AppenderRef ref="Console" />
		    <AppenderRef ref="RollingRandomAccessFile" />
		</Root>
	
	</Loggers>
</Configuration>